# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Streamlit secrets (não compartilhar)
.streamlit/secrets.toml

# Logs
*.log